body{
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
.about_header{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.about_navContent{
    display: flex;
}

#simplyLogo{
    color: #8500FE;
    font-weight: bold;
}
#recipesLogo{
    font-weight: bold;
}

.simplyLogo{
    text-shadow: 0px 4px 7px #757373;
    font-size: 30px;
}

.recipeLogo{
    text-shadow: 0px 4px 7px #757373;
    font-size: 30px;
}

.homePage{
   font-size: large;
   font-weight: 500; 
   margin-left: 30px;
}

.aboutPage{
    font-size: large;
    font-weight: 500; 
    margin-left: 30px;
 }

 .tagPage{
    font-size: large;
    font-weight: 500; 
    margin-left: 30px;
 }

 .recipePage{
    font-size: large;
    font-weight: 500; 
    margin-left: 30px;
 }
 

.contactBtn{
    background-color: #8500FE;
    color: #ffffff;
    width: 100px;
}

.description{
    margin-top: 40px;
    display: flex;
}

.Text{
    margin: 30px;
    width: 1000px;
}

#title{
    font-size: 4vh;
    font-weight: bolder;
}

.loremText1{
    font-weight: 600;
    font-size: large;
}

.loremText2{
    font-weight: 600;
    font-size: large;
}

.saltyImage img{
   width: 100%;
   height: auto;
   border-radius: 7px; 
}

.middleText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    font-size: 4vh;
    font-weight: 600;
}

.recipeImages{
    margin-top: 30px;

}

.card{
    width: 44vh;
    display: flex;
    border: none;

}

.card img{
    margin: 20px;
    height: 200px;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 60px;
    text-align: center;
    align-items: center;
    color: #ffffff;

}

.footer p{
  font-size: 2vh;
}

.footerText1 {
    color: #8500FE;
}

.footerText2 {
    color: #8500FE;
}
